
/// Hidden
/// -----------------------------------------------------------------
/// Version: traditional, offscreen technique; most browsers
/// Reference: http://webaim.org/techniques/css/invisiblecontent/
/// Tags: content hidden hide off screen offscreen
///

/// @author Victor Oliveira
/// @group utils

/// Hide element while keeping it available for screen readers.
/// 
/// Drawbacks: a big offscreen rectangle is still rendered by the 
/// browser.
/// 
/// Usage examples: 
/// - hide an useful label for blind people (screen readers don't 
///   read `display: none` and other similar techniques)
/// - hide input for custom radio buttons and checkboxes
///
/// @example scss - Basic Usage
///   .input-to-hide {
///     @include hidden;
///
///     + label {
///       color: $unchecked-color;
///     }
///
///     &:checked + label {
///       color: $checked-color;
///     }
///   }

@mixin hidden {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}
